page-main {       
      .box{
        // width: 100%;
        // height: 50px;
        width: 95%;
        margin: 10px;
        position: absolute;
        opacity: .7;
        z-index: 3;
      }

      .container-1{
        width: 100%;
        vertical-align: middle;
        white-space: nowrap;
        position: relative;
      }

      .container-1 input#search{
        width: 100%;
        height: 45px;
        background: #2b303b;
        border: none;
        font-size: 12pt;
        float: left;
        color: #63717f;
        padding-left: 45px;        
        padding-right: 45px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;

        -webkit-transition: background .55s ease;
        -moz-transition: background .55s ease;
        -ms-transition: background .55s ease;
        -o-transition: background .55s ease;
        transition: background .55s ease;
      }

      .container-1 input#search::-webkit-input-placeholder {
        color: #65737e;
     }
      
     .container-1 input#search:-moz-placeholder { /* Firefox 18- */
        color: #65737e;  
     }
      
     .container-1 input#search::-moz-placeholder {  /* Firefox 19+ */
        color: #65737e;  
     }
      
     .container-1 input#search:-ms-input-placeholder {  
        color: #65737e;  
     }

     .container-1 .icon{
        position: absolute;
        top: 50%;
        margin-left: 17px;
        margin-top: 15px;
        z-index: 1;
        color: #4f5b66;
      }
      .container-1 .icon-cancel{
        position: absolute;
        top: 50%;
        right: 5px;
        margin-right: 12px;
        margin-top: 15px;
        z-index: 1;
        color: #4f5b66;
      }

      .container-1 input#search:hover, .container-1 input#search:focus, .container-1 input#search:active{
        outline:none;
        background: #ffffff;
      }

      .container-2{
        width: 100%;
        vertical-align: middle;
        white-space: nowrap;
        position: relative;
      }
      .container-2 input#search{
        width: 100%;
        height: 50px;
        background: #2b303b;
        border: none;
        font-size: 10pt;
        float: left;
        color: #262626;
        padding-left: 35px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
        color: #fff;
       
        -webkit-transition: width .55s ease;
        -moz-transition: width .55s ease;
        -ms-transition: width .55s ease;
        -o-transition: width .55s ease;
        transition: width .55s ease;
      }

      .container-2 input#search::-webkit-input-placeholder {
        color: #65737e;
     }
      
     .container-2 input#search:-moz-placeholder { /* Firefox 18- */
        color: #65737e;  
     }
      
     .container-2 input#search::-moz-placeholder {  /* Firefox 19+ */
        color: #65737e;  
     }
      
     .container-2 input#search:-ms-input-placeholder {  
        color: #65737e;  
     }

     .container-2 .icon{
        position: absolute;
        top: 50%;
        margin-left: 17px;
        margin-top: 17px;
        z-index: 1;
        color: #4f5b66;
      }

      #floating-panel {
        position: absolute;
        // top: 10px;
        left: 5px;
        bottom: 0px;
        z-index: 5;
        background-color: #fff;
        padding: 5px;
        border: 1px solid #999;
        text-align: center;
        font-size: 10px;
        font-family: 'Roboto','sans-serif';
        line-height: 30px;
        padding-left: 10px;
      }

    agm-map {
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        position: absolute!important;
        overflow: hidden!important; 
    }

    .hidemap {
        visibility: hidden;
        margin-top: -1000px;
    }

    ion-searchbar {
        position: absolute;
        opacity: .7;
        z-index: 3;
    }
    .scroll-content {
        overflow-y: hidden  ;
    }
}
