.filter {
    display: flex;
    flex-direction: row;
    justify-content: space-between
}

.filter > span {    
    display: block;
    padding: 0.5rem 0.75rem;
}

.fix-right {
    position: fixed;
    right: 0;
    bottom: 1.5rem;
}