page-menu {
  ion-menu {

    ion-header {
      .header-wrapper {
        display: flex;
        flex-direction: row;
        margin-top: 25px;
        margin-left: 10px;
        justify-content: space-between;
        .avatar {
          margin: auto;
          width: 20%;
          height: 20%;
        }
        .label {
          display: flex;
          flex-direction: column;
          margin-left: 10px;
          .title {
            font-size: 20px;
          }
        }
      }
    }
    #filterMenu {
      ion-content {
        ion-list {
          ion-list-header {
            .item-inner {
              margin: 0;
              padding: 0;
              display: flex;
              -webkit-box-flex: 1;
              -webkit-flex: 1;
              -ms-flex: 1;
              flex: 1;
              -webkit-flex-direction: inherit;
              -ms-flex-direction: inherit;
              flex-direction: inherit;
              -webkit-box-align: inherit;
              -webkit-align-items: inherit;
              -ms-flex-align: inherit;
              align-items: inherit;
              -webkit-align-self: stretch;
              -ms-flex-item-align: stretch;
              align-self: stretch;
              min-height: inherit;
              border: 0;
              .input-wrapper {
                display: flex;
                -webkit-box-flex: 1;
                -webkit-flex: 1;
                -ms-flex: 1;
                flex: 1;
                -webkit-flex-direction: inherit;
                -ms-flex-direction: inherit;
                flex-direction: inherit;
                -webkit-box-align: inherit;
                -webkit-align-items: inherit;
                -ms-flex-align: inherit;
                align-items: inherit;
                -webkit-align-self: stretch;
                -ms-flex-item-align: stretch;
                align-self: stretch;
                text-overflow: ellipsis;
              }
            }
          }
        }
        .wrapper-filter {
            display: flex;
            flex-direction: column;
            width: 100%;
          .filter {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
          }
        }
      }
    }
  }
  .active-color {
    background-color: #000;
  }
  .inactive-color {
    background-color: #fff;
  }
  .time-btn {    
    background-color: #000;
  }
}
